.App {
  text-align: center;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.myElement {
  opacity: 0;
  transition: 2s opacity;
}

.fade-in {
  opacity: 1;
}
.FadeOut{
  opacity:0;
  width:0;
  height:0;
  transition: width 5s 5s, height 5s 5s, opacity 5s 5s;

}
.FadeIn{
  opacity:1;
  width:100px;
  height:100px;
  transition: width 5s 5s, height 5s 5s, opacity 5s 5s;
}
.App-header {
  margin-top: 2%;
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
}
.App-Description {
  margin-top: 0;
  font-size: 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
